doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
  link(rel='icon' href='/svg/Base.svg' type='image/x-icon')
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css')
  script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js')
  link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/report.css')
  title Lunni | Report
.navbar
  .navbar-branding
    h1 Lunni.xyz
  .navbar-items
    ul
      li
        a(href='/') Home
      li
        a(href='/server') Support
      li
        a(href='/logout') Logout
form(action='/report/send?_method=PUT' method='POST')
  .main
    label(for='') Bug Report
    textarea(type='text' placeholder='Enter your report here...' name='report')  
    button(type='submit') Summit
