doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/url.css')
  title Lunni | URL shortener
h1  Url Shortener
form(action='/shortUrls', method='POST')
  label(for='fullUrl')
  input#fullUrl(type='url', placeholder='URL', name='fullUrl')
  button(type='submit', href='#') Shrink
