doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
  link(rel='icon' href='/svg/Base.svg' type='image/x-icon')
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css')
  script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js')
  link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/server.css')
  title Lunni | Panel
.navbar
  .navbar-branding
    h1 Lunni.xyz
  .navbar-items
    ul
      li
        a(href='/') Home
      li
        a(href='/server') Support
      li
        a(href='/logout') Logout
form(action='/panel/server/' + guild.id +'/general?_method=PUT' method='POST')
  .row
    .info
     if guild.icon
          img(src=guild.iconURL({size: 64}) alt='' draggable='false')
          p #{guild.name}
     else
          img(src='https://cdn.discordapp.com/attachments/878591010379272202/879822042579468328/0.png' alt='' draggable='false')
          p #{guild.name}
    .col
      label(for='') Name
      input(type='text' value=nickName name='username')
      button(type='submit') Summit
    p.graied More coming soon!
