<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../../assets/css/home2.css">
     <script src="https://kit.fontawesome.com/6673ce01c2.js" crossorigin="anonymous"></script>
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <title>Lunni | Home</title>
</head>
<body>
     <div class="navbar">
          <div class="nav-branding">
               <h2>Lunni</h2>
          </div>
          <div class="nav-drop">
               <div class="drop-btn">
                    <span>Lavender</span>
                    
               </div>
               <div class="drop-items">
                    <ul>
                         <li ><a href="/dashboard" class="drop-li">Dashboard</a></li>
                         <li class="drop-item-last-child"><a href="/logout" class="drop-li">Logout</a></li>
                    </ul>
               </div>
          </div>
     </div>
     
     <div class="coming-soon">
          <h1>Coming soon!</h1>
          <p>A home for apis and a bunch of other useful things</p>
     </div>
</body>
<script>
 AOS.init();
</script>
</html>