<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6673ce01c2.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="../../assets/css/home.css">
     <title>Lunni | Home</title>
</head>
<body>
     
     <div class="navbar">
          
          <div class="navbranding">
               <h1>Lunni</h1>
          </div>
          <div>
               <nav style="margin-left: 100px;">
                    <dir class="drop-btn">
                                 #{user.username} <span class="fas fa-caret-down"></span>
                             </dir>
                             <div class="wrapper">
                                  <ul class="menu-bar">
                                       <li><a href="/">
                                            <div class="icon"><span class="fas fa-home"></span></div>
                                            Home
                                       </a></li>
                                       <li class="setting-item"><a href="#">
                                            <div class="icon"><span class="fas fa-cog"></span></div>
                                            Settings <i class="fas fa-angle-right"></i>
                                       </a></li>
                                       <li class="help-item"><a href="#">
                                            <div class="icon"><span class="fas fa-question-circle"></span></div>
                                            Help & Support <i class="fas fa-angle-right"></i>
                                       </a></li>
                                       <li><a href="/about">
                                            <div class="icon"><span class="fas fa-question-circle"></span></div>
                                            About
                                       </a></li>
                                       <li class="mobile-items"><a href="/me">
                                        <div class="icon"><span class="fas fa-user"></span></div>
                                        Profile
                                        </a></li>
                                        <li class="mobile-items"><a href="/me/servers">
                                        <div class="icon"><span class="fas fa-server"></span></div>
                                        Servers
                                        </a></li>
                                        <li class="mobile-items"><a href="/documentaion">
                                        <div class="icon"><span class="fas fa-book"></span></div>
                                        Documentaion
                                        </a></li>
                                        <li class="mobile-items"><a href="/server">
                                        <div class="icon"><span class="fas fa-bookmark"></span></div>
                                        Support Server
                                        </a></li>
                                        <li class="mobile-items"><a href="/policy">
                                        <div class="icon"><span class="fas fa-book-reader"></span></div>
                                        Policy
                                        </a></li>
                                        <li class="mobile-items"><a href="/logout">
                                        <div class="icon"><span class="fas fa-sign-out-alt"></span></div>
                                        Logout
                                        </a></li>
                                  </ul>
                   
                                  <!-- Settings Menu Items-->
                   
                                  <ul class="setting-drop">
                                       <li class="arrow back-setting-btn"><span class="fas fa-arrow-left"></span>Settings</li>
                                       <li><a href="/me">
                                            <div class="icon"><span class="fas fa-user"></span></div>
                                            Profile
                                       </a></li>
                                       <li><a href="/me/servers">
                                            <div class="icon"><span class="fas fa-server"></span></div>
                                            Servers
                                       </a></li>
                   
                                       <li><a href="/logout">
                                            <div class="icon"><span class="fas fa-sign-out-alt"></span></div>
                                            Log out
                                       </a></li>
                                  </ul>
                   
                                  <!-- Help Drop -->
                   
                                  <ul class="help-drop">
                                       <li class="arrow back-help-btn"><span class="fas fa-arrow-left"></span>Help & Support</li>
                                       <li><a href="/documention">
                                            <div class="icon"><span class="fas fa-bookmark"></span></div>
                                            Documentaion
                                       </a></li>
                                       <li><a href="/server">
                                            <div class="icon"><span class="fas fa-bookmark"></span></div>
                                            Support Server
                                       </a></li>
                                       <li><a href="/policy">
                                            <div class="icon"><span class="fas fa-book-reader"></span></div>
                                            Policy
                                       </a></li>
                                  </ul>
                             </div>
                        </nav>
          </div>
          <div>
          
     
</div>
</div>

     <script>
          const drop_btn = document.querySelector(".drop-btn");
          const menu_wrapper = document.querySelector(".wrapper");
          const menu_bar = document.querySelector(".menu-bar");

          const setting_drop = document.querySelector(".setting-drop");
          const help_drop = document.querySelector(".help-drop");
          const setting_item = document.querySelector(".setting-item");
          const help_item = document.querySelector(".help-item");
          const back_setting_btn = document.querySelector(".back-setting-btn");
          const back_help_btn = document.querySelector(".back-help-btn");

          drop_btn.onclick = (() => {
               menu_wrapper.classList.toggle("show");
          });

          setting_item.onclick = (() => {
               menu_bar.style.marginLeft = "-400px";
               setTimeout(() => {
                    setting_drop.style.display = "block";
               }, 100);
          });

          help_item.onclick = (() => {
               menu_bar.style.marginLeft = "-400px";
               setTimeout(() => {
                    help_drop.style.display = "block";
               }, 100);
          });

          back_setting_btn.onclick = (() => {
               menu_bar.style.marginLeft = "0px";
               setting_drop.style.display = "none";
          });

          back_help_btn.onclick = (() => {
               menu_bar.style.marginLeft = "-0px";
               help_drop.style.display = "none";
          });


          /* 

          .mobile-items

           <a href="/login" class="logout-btn">Login</a>

     
          */

     </script>
</body>
</html>