<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="icon" href="../../assets/svg/Base.svg" type="image/x-icon">
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
     <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" href="../../assets/css/server.css">
     <title>Lunni | Panel</title>
</head>
<body>
     <div class="navbar">
          <div class="navbar-branding">
               <h1>Lunni.xyz</h1>
          </div>
          <div class="navbar-items">
               <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/server">Support</a></li>
                    <li><a href="/logout">Logout</a></li>
               </ul>
          </div>
     </div>
     <form action="/servers/ + guild.id/general?_method=PUT" method="POST">
          <div class="row">
               <div class="info">
                    <!--if guild.icon-->
                         <!--<img src=guild.iconURL({size: 64}) alt="" draggable="false">-->
                    <!--else-->
                    <img src="https://cdn.discordapp.com/attachments/878591010379272202/879822042579468328/0.png" alt="" draggable="false">     
               <p>#{guild.name}</p>
               </div>
               <div class="col">
                    <label for="">Name</label>
                    <input type="text" value="Lunni" name="username"><!-- #{me.user.username}-->
                    <button type="submit">Summit</button>
               </div>
               <p class="graied">More coming soon!</p>
          </div>
     </form>
</body>
</html>