<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../../assets/css/url.css">
     <title>Lunni | URL shortener</title>
</head>
<body>

     <h1> Url Shortener</h1>
     
     <form action="/shortUrls" method='POST'>
     <Label for="fullUrl"></Label>
     <input type="url" placeholder="URL" name="fullUrl" id="fullUrl">
     <button type="submit" href="#">Shrink</button>
     </form>

</body>
</html>