<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../../assets/css/urls.css">
     <title>Lunni | Shortened URLs</title>
</head>
<body>
     <div class="title">
          <h1>Shortend URLS</h1>
            <a href="/"> Head Home</a>
     </div>

     <div class="urlsCards">
          <div class="card">
               <h3>URL</h3>
               <span>#{base}/#{url.short}</span>
               <h3>Base URL</h3>
               <span>#{url.full}</span>
               <a href="#{base}/#{url.short}">Send me there!!</a>
          </div>
     </div>
</body>
</html>