@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --main: #2A282D; 
     --dark: #211F23;
     --light: #343238;
}


* {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     user-select: none;
     box-sizing: border-box;
     color:white;
}

body {
     background: var(--main);
}

.navbar {
     display: flex;
     justify-content: space-between;
}
.nav-branding {
     margin-top: 15px;
     margin-left: 50px;
}
.nav-drop {
     margin-top: 14px;
}

.drop-items {
     margin-right: 50px;
}
.drop-btn {
     margin-right: 50px;
     display: flex;
     background-color: var(--dark);
     border-radius: 5px;
     padding: 5px 10px 5px 10px ;
}
.drop-btn span {
     font-size: 17px;
     font-weight: 500;
     background-color: var(--dark);
}

.drop-btn a {
     text-decoration: none;
     font-size: 17px;
     font-weight: 500;
     background-color: var(--dark);
}
.drop-btn i {
     margin-top: 2px;
     margin-left: 10px;
}

.drop-items {
     margin-top: 10px;
     padding: 10px;
     background-color: var(--dark);
     border-radius: 5px;
     opacity: 1;
     transition: opacity 0.2s linear;
}
.drop-items.hid {
     opacity: 0;
     pointer-events: none;
}
.drop-items ul {
     list-style: none;
}
.drop-items a {
     text-decoration: none;
}
.drop-item-last-child {
     margin-top: 5px;
}
.drop-li {
     color: white;
     transition: color 0.5s linear;
}
.drop-li:hover {
     color: #a0a0a0;
}

.coming-soon {
     text-align: center;
     margin-top: 250px;
}
.login-btn {
     margin-left: auto;
     margin-right: auto;
}
