@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --body:#F5F0F1;
     --red:#ff2145;
     --dark-red:#aa1931;
     --black: #181D23;
     --dark-black: rgb(22, 21, 21);
     --shadow: rg  b(165, 165, 165);
     --green: #54bb32;
     --grey: #474747;
     --input: #32353B;
}

* {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: var(--body);
}

body {
     background-color: var(--black);
}

.navbar {
     display: flex;
     justify-content: space-around;
     padding: 10px;
}

.navbar a {
     text-decoration: none;
     color: var(--body);
}
.navbar-branding h1 {
     color: var(--body);
     font-size: 26px;
     font-weight: 600;
}

.navbar-items ul {
     display: flex;
     margin-top: 6px;
}
.navbar-items li {
     margin-left: 40px;
     list-style-type: none;
}

.row {
     margin-top: 70px;
     background-color: var(--dark-black);
     margin-left: auto;
     margin-right: auto;
     width: 500px;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
}
.col {
     display: flex;
     flex-direction: column;
}

.col label {
     margin-left: 40px;
     margin-bottom: 5px;
     font-size: 20px;
}
.col input {
     width: 300px;
     margin-left: 40px;
     border: none;
     background-color: var(--input);
     padding: 5px;
     border-radius: 5px;
}

.info {
     display: flex;
     justify-content: flex-start;
     margin-left: 30px;
     margin-bottom: 40px;
}
.info img {
     margin-top: 20px;
     height: 64px;
     width: 64px;
     border-radius: 50%;
}

.info p {
     margin-top: 42px;
     font-size: 15px;
     margin-left: 10px;
}

.graied {
     color: #959494;
     text-align: center;
     margin-top: 10px;
}

.col button {
     width: 70px;
     margin-left: 40px;
     margin-top: 10px;
     background-color: var(--green);
     border: none;
     padding: 7px;
     border-radius: 5px;
     color: white;
}