@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --main: #2A282D; 
     --dark: #211F23;
     --light: #343238;
}


* {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     user-select: none;
     box-sizing: border-box;
     color: white;
}

body {
     background: var(--main);
     text-align: center; 
}

h1 {
     margin-top: 100px;
}

form {
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
     margin-left: 40px;
     padding: 10px;
     background-color: var(--light);
     border-radius: 10px;
     border: none;
     box-shadow: 5px 5px var(--dark);
}

button:focus {
     box-shadow: 2px 2px var(--dark);
}



input {
     padding: 10px;
     background-color: var(--light);
     border-radius: 10px;
     border: none;
     box-shadow: 5px 5px var(--dark);
}


