@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main: #2a282d;
  --dark: #211f23;
  --light: #343238;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
  box-sizing: border-box;
  color: white;
}

body {
  background: var(--main);
}

.title {
  text-align: center;
  margin-top: 10px;
}

.title a {
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;

}

.urlsCards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 10px;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}

.card {
  background-color: var(--light);
  width: 400px;
  height: 205px;
  border-radius: 10px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  max-width: 400px;
}

.card h3 {
  font-size: 15px;
  margin-top: 5px;
  max-width: 400px;
}

.card span { 
  max-width: 300px;
}

.card a {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: var(--dark);
  text-align: center;
  border-radius: 5px;
  width: 140px;
  text-decoration: none;
}